

.header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(125, 125, 125);
  border: 3px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
}
 
.sidebar {
  text-align: center;
  background-color: #808080;
  border: 3px solid black;
  position: fixed;
  top: 70px;
  left: 0;
  width: 200px;
}

.content {
  text-align: center;
  background-color: #98ff98;
  margin-top: 70px;
  margin-left: 200px;
}
